h1 {
    font-size: 3rem;
    text-align: center;
}

p {
    font-size: 1.5rem;
    text-align: center;
}

.info-wrapper {
    max-width: 40vw;
    margin: 3rem auto 0 auto;
}

@media screen and (max-width: 768px) {
    .info-wrapper {
        max-width: 80%;
        margin: 0 auto 0 auto;
    }
}