* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

#header {
    position: fixed;
    top: 0;
    max-height: 100px;
    padding: 0px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100vw;
    font-size: 3rem;
}

main {
    margin-top: 100px;
    background-color: #090909;
    min-height: 100vh;
    color: sandybrown
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 50vw;
}

ul li {
    list-style: none;
}

ul li a {
    color: orange;
    text-decoration: none;
}

#video-section {
    max-width: 50vw;
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: center;
}

.mobile-hidden {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    margin: 0 auto;
}

input,
textarea {
    min-width: 70vw;
    min-height: 3vh;
    border: 1px solid orange;
    background-color: transparent;
    color: orange;
}

@media screen and (max-width: 768px) {
    #header {
        display: none;
    }
    .mobile-hidden {
        display: block;
    }
    #main {
        padding: 0;
        margin: 0;
        width: 199vw;
    }
    #video {
        max-width: 100vw;
        max-height: 80%;
    }
    #info,
    #pricing {
        max-width: 80%;
        margin: 0 auto 0 auto;
    }
    #video-section {
        max-width: 80vw;
    }
    .mobile-hidden {
        position: fixed;
        justify-content: center;
        align-items: center;
        display: flex;
        width: 768px;
        background-color: black;
        height: 2rem;
    }
    .mobile-hidden p {
        font-size: 40px;
        margin: 0;
        padding: 0;
        color: orange;
    }
    input,
    textarea {
        min-width: 700px;
        min-height: 50px;
        border: 1px solid orange;
        background-color: transparent;
        color: orange;
    }
}